<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jaimievanheije.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jaimievanheije.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JaimievanHeije</DeployIisAppPath>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JaimievanHeije</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="umbracoDbDSN" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wslyvh.database.windows.net,1433;Initial Catalog=JaimievanHeije_db;User ID=jaimievanHeije;Password=cc7e%X3&amp;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:wslyvh.database.windows.net,1433;Initial Catalog=JaimievanHeije_db;User ID=wslyvh@wslyvh;Password=Z65!WAudZewR" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\umbracoDbDSN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:wslyvh.database.windows.net,1433;Database=JaimievanHeije_db;User ID=wslyvh@wslyvh;Password=Z65!WAudZewR" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)umbracoDbDSN-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wslyvh.database.windows.net,1433;Initial Catalog=JaimievanHeije_db;User ID=jaimievanHeije;Password=cc7e%X3&amp;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>