@inherits UmbracoTemplatePage

<section id="@CurrentPage.Id" class="container content-section text-center">

    <form>
        <div class="row">
            @if (CurrentPage.HasValue("Title"))
            {
                <h2>@CurrentPage.Title</h2>
            }

            <div class="col-md-6 text-right">
                @if (CurrentPage.HasValue("Intro"))
                {
                    <p>@CurrentPage.Intro</p>
                }
            </div>

            <div class="col-md-6">

                <div class="row error-message">
                    <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!</strong> An error has occurred while sending your data. Please try again.
                    </div>
                </div>
                <div class="row success-message">
                    <div class="alert alert-info fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Thanks!</strong> We'll get back to you soon.
                    </div>
                </div>

                <div class="row">
                    <div>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <div>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <br />

                <div class="row">
                    <div>
                        <textarea name="message" id="message" class="form-control" placeholder="Message" rows="4"></textarea>
                    </div>
                </div>

            </div>

        </div>

        <br />
        <div class="row">
            <div>
                <button type="button" id="contact-button" class="btn btn-danger btn-lg">
                    Send
                </button>
            </div>
        </div>
        <input type="hidden" name="settingsNodeId" value="@CurrentPage.Id" />
    </form>
</section>