@inherits UmbracoTemplatePage
@{
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}


<ul class="list-inline">
    @RenderLinkIfNotEmpty(homePage.Email, "fa-envelope-square")
    @RenderLinkIfNotEmpty(homePage.Facebook, "fa-facebook-square")
    @RenderLinkIfNotEmpty(homePage.Instagram, "fa-instagram")
</ul>

@helper RenderLinkIfNotEmpty(dynamic link, string cssClass)
{
    if (string.IsNullOrEmpty(link) == false)
    {
        <li><a href="@link"><i class="fa @cssClass fa-2x"></i></a></li>
    }
}