<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BackgroundBlock ANY>
<!ATTLIST BackgroundBlock id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT ContentBlock ANY>
<!ATTLIST ContentBlock id ID #REQUIRED>
<!ELEMENT ContentColumn ANY>
<!ATTLIST ContentColumn id ID #REQUIRED>
<!ELEMENT ContentImageBlock ANY>
<!ATTLIST ContentImageBlock id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT ImageList ANY>
<!ATTLIST ImageList id ID #REQUIRED>
<!ELEMENT Modal ANY>
<!ATTLIST Modal id ID #REQUIRED>
<!ELEMENT ModalFrame ANY>
<!ATTLIST ModalFrame id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1057" key="65632370-16f3-4cb8-a153-0ac703514987" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-01-27T11:59:25" updateDate="2016-01-27T21:48:59" nodeName="Jaimie van Heije Restaurant" urlName="jaimie-van-heije-restaurant" path="-1,1057" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="HomePage">
    <instagram><![CDATA[https://www.instagram.com/jaimievanheije/]]></instagram>
    <email><![CDATA[mailto:info@jaimievanheije.nl]]></email>
    <facebook><![CDATA[https://www.facebook.com/JaimieVanHeijeRestaurant]]></facebook>
    <logo>1058</logo>
    <intro><![CDATA[Jaimie van Heije and his ambitious kitchen team welcome you to the dynamic ambience in our restaurant. ]]></intro>
    <background>1060</background>
    <copyright><![CDATA[Copyright © Wesley van Heije]]></copyright>
    <ContentImageBlock id="1062" key="79bfb230-91db-4c77-8faf-dac3f12e4200" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2016-01-27T12:45:29" updateDate="2016-01-27T15:12:21" nodeName="Concept" urlName="concept" path="-1,1057,1062" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ContentImageBlock">
      <title><![CDATA[Concept]]></title>
      <image>1063</image>
      <text><![CDATA[<p>Het chef’s restaurant Jaimie van Heije, in het pittoreske Ouderkerk aan de Amstel, is een restaurant waar elk detail tot in de puntjes is uitgedacht. Hier wordt elke dag keihard gewerkt aan een unieke kaart, sfeer en setting. Elk gerecht is anders, met echt goed eten en gezelligheid op een prachtige plek. De persoonlijkheid van Jaimie is dan ook te herkennen in alles; het eten, het interieur, het personeel en zelfs de gasten. Zijn eigenwijze stijl maakt elke lunch en elk diner een one-of-a-kind beleving.</p>
<h3>Chef Jaimie van Heije</h3>
<p>Jaimie van Heije komt uit een gezin waar eten altijd centraal stond. Als klein jongetje raakte hij al geïnspireerd door de Indische keuken van zijn oma. Na zijn horeca opleiding is Jaimie van Heije binnen een paar jaar van hulp in de keuken uitgegroeid tot sous chef bij Ron Blaauw. Nadat zijn leermeester vertrok uit zijn restaurant in Ouderkerk aan de Amstel greep Jaimie zijn kans. Hij begon zijn eigen restaurant Jaimie van Heije, waar hij elke dag vol overgave zijn eigen gerechten bedenkt en creëert.</p>
<h3>Cuisine</h3>
<p><em>“Mijn cuisine is moeilijk om onder woorden te brengen. Ik gebruik al mijn ervaringen en inspiratie om elke dag weer nieuwe gerechten te bedenken. Ik wil mensen verrassen met nieuwe, spannende gerechten, met invloeden vanuit de hele wereld.”</em> aldus Jaimie van Heije. Veel mensen kiezen dan ook voor een verrassingsmenu en vertrouwen erop dat Jaimie van Heije en zijn team het beste van het beste samenstellen. Jaimie van Heije komt zelf ook altijd even aan tafel en geniet ervan om mensen te laten kennismaken met zijn nieuwe gerechten.</p>]]></text>
    </ContentImageBlock>
    <BackgroundBlock id="1071" key="0bcab6b8-3bd5-4f80-a49e-40fc46974ca9" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2016-01-27T14:48:52" updateDate="2016-01-27T14:51:32" nodeName="Menu" urlName="menu" path="-1,1057,1071" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BackgroundBlock">
      <title><![CDATA[Menu]]></title>
      <background>1070</background>
      <intro><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget egestas eros, quis consectetur dolor. Pellentesque dignissim aliquam massa, porta semper sapien dictum et.]]></intro>
      <Modal id="1074" key="6d097348-9dd2-413a-a71e-d0a44e6d0d21" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2016-01-27T18:41:18" updateDate="2016-01-27T18:41:18" nodeName="Menu" urlName="menu" path="-1,1057,1071,1074" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Modal">
        <text><![CDATA[<h3>Verrassingsmenu</h3>
<table border="0" cellspacing="0" cellpadding="0" style="width: 578px; height: 211px;">
<tbody>
<tr>
<td> </td>
<td><strong>menu</strong></td>
<td><strong>wijnarrangement</strong></td>
</tr>
<tr>
<td>3-gangen menu</td>
<td>€ 37,50</td>
<td>€ 21,00 </td>
</tr>
<tr>
<td>4-gangen menu</td>
<td>€ 45,00</td>
<td>€ 28,00</td>
</tr>
<tr>
<td>5-gangen menu</td>
<td>€ 52,50</td>
<td>€ 35,00</td>
</tr>
<tr>
<td>6-gangen menu</td>
<td>€ 60,00</td>
<td>€ 42,00*</td>
</tr>
<tr>
<td>7-gangen menu</td>
<td>€ 67,50</td>
<td>€ 49,00</td>
</tr>
<tr>
<td>8-gangen menu</td>
<td>€ 75,00</td>
<td>€ 56,00</td>
</tr>
<tr>
<td>Menu ‘Volle Bak’<br /> 6 gangen met wijnarrangement, water en koffie</td>
<td>€ 100,00</td>
<td>inclusief</td>
</tr>
</tbody>
</table>]]></text>
        <title><![CDATA[Menu]]></title>
      </Modal>
      <Modal id="1075" key="f83e9425-a6a0-498f-8124-f929ae5fb4db" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2016-01-27T18:42:18" updateDate="2016-01-27T18:42:18" nodeName="Wines" urlName="wines" path="-1,1057,1071,1075" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Modal">
        <text><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit quam id elit tristique, sit amet condimentum erat bibendum. </span></p>
<p><span>Vestibulum posuere laoreet mauris. Maecenas a interdum lorem. Cras sed accumsan felis. Phasellus ac justo quis dui dapibus pulvinar nec vitae dolor. In tempus tincidunt urna eget tempus. Vestibulum eget mattis purus, ut consequat mauris. Nunc interdum felis a dui mollis efficitur. Phasellus venenatis libero at tellus vehicula, eget condimentum turpis euismod. </span></p>
<p><span>Suspendisse vitae urna fermentum, euismod libero sed, consequat odio. </span></p>]]></text>
        <title><![CDATA[Wines]]></title>
      </Modal>
    </BackgroundBlock>
    <ContentColumn id="1080" key="d28b249e-f4bf-45d9-9f31-efaff4377e28" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2016-01-27T20:49:50" updateDate="2016-01-27T21:49:07" nodeName="Reservation" urlName="reservation" path="-1,1057,1080" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ContentColumn">
      <title><![CDATA[Reservation]]></title>
      <textRight><![CDATA[<p><strong>Lunch</strong> maandag t/m vrijdag<br />12:00 - 14:00 uur</p>
<p><strong>Diner</strong> maandag t/m zaterdag<br />18:00 - 22:00 uur</p>
<p>Op zondag gesloten.</p>]]></textRight>
      <textLeft><![CDATA[<p>Om teleurstellingen te voorkomen raden wij u aan vooraf te reserveren.<br />Dit kan direct via de website of door te bellen of te mailen.</p>
<p><strong>T:</strong> +31 20 496 58 48<br /> <strong>E:</strong> info@jaimievanheije.nl</p>]]></textLeft>
      <ModalFrame id="1081" key="e342e256-38ec-4fb7-82b6-69f6b93c6b57" parentID="1080" level="3" creatorID="0" sortOrder="0" createDate="2016-01-27T21:27:51" updateDate="2016-01-27T21:53:23" nodeName="Reservation" urlName="reservation" path="-1,1057,1080,1081" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ModalFrame">
        <title><![CDATA[Reservation]]></title>
        <width><![CDATA[350]]></width>
        <targetUrl><![CDATA[http://restaurant.couverts.nl/IFrame/Index/169]]></targetUrl>
        <height><![CDATA[460]]></height>
      </ModalFrame>
    </ContentColumn>
    <ImageList id="1068" key="daccdd63-e9ba-473b-9752-8f9c7f3a41bf" parentID="1057" level="2" creatorID="0" sortOrder="3" createDate="2016-01-27T13:51:18" updateDate="2016-01-27T22:21:58" nodeName="Collaborations" urlName="collaborations" path="-1,1057,1068" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ImageList">
      <logos><![CDATA[1066,1067]]></logos>
    </ImageList>
    <Contact id="1072" key="9939845b-7ded-4a4f-b2f8-3844341acfd6" parentID="1057" level="2" creatorID="0" sortOrder="4" createDate="2016-01-27T16:29:35" updateDate="2016-01-27T23:04:23" nodeName="Contact" urlName="contact" path="-1,1057,1072" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Contact">
      <title><![CDATA[Contact]]></title>
      <intro><![CDATA[<p><strong>Restaurant Jaimie van Heije</strong><br /> Kerkstraat 56 <br /> 1191 JE Ouderkerk a/d Amstel<br /><br /> T: +31 20 496 58 48<br /> E: info@jaimievanheije.nl</p>]]></intro>
      <emailTo><![CDATA[info@jaimievanheije.nl]]></emailTo>
      <emailSubject><![CDATA[Contact - Jaimie van Heije Restaurant]]></emailSubject>
    </Contact>
  </HomePage>
</root>